<head>
    <link rel="stylesheet" href="../static/styles.css">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Explore</title>  
</head>
<body>
    <img src="../static/monomuse_logo.png" alt="MonoMuse Logo">
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a  id= "navselected" href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
<div class="main">  
    <h1>Buy Tickets</h1>
    <table>
        <tr>
            <th>Ticket Type</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>General</td>
            <td>Access to all exhibitions and events.</td>
            <td>$15</td>
        </tr>
        <tr>
            <td>Student</td>
            <td>Discounted ticket for students with valid ID.</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Member</td>
            <td>Exclusive access and benefits for museum members.</td>
            <td>$0 (included with membership)</td>
        </tr>
    </table>


    <footer>
        <p>Copyright © 2024 MonoMuse. All rights reserved.</p>
    </footer>
</div>

