<head>
    <script src="../static/script.js" defer></script>
    <link rel="stylesheet" href="../static/styles.css"> 
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>Exhibitions</title>  
</head>
<body>
    <img src="../static/monomuse_logo.png" alt="MonoMuse Logo">
    <nav>
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a id="navselected" href="exhibitions.html">Exhibitions</a>
        <a href="tickets.html">Buy Tickets</a>
        <a href="checkout.html">Checkout</a>
    </nav>
<div class="main">
    <h3>Exhibition 1: Digital Dreams</h3>
    <p>Digital Dreams is our inaugural exhibition that explores the intersection of art and technology. Featuring a diverse range of digital artworks, interactive installations, and immersive experiences, Digital Dreams invites visitors to discover how technology is transforming the way we create and experience art. From virtual reality sculptures to AI-generated paintings, this exhibition offers a glimpse into the future of art in the digital age.</p>    
    <h3>Exhibition 2: TechArt Festival</h3>
    <p>TechArt Festival is an annual event that celebrates the fusion of technology and creativity. This exhibition features a curated selection of cutting-edge artworks that push the boundaries of traditional art forms. From robotic sculptures to interactive light installations, TechArt Festival showcases the innovative ways artists are using technology to express their creativity and engage audiences. Visitors can experience a wide range of mediums, including augmented reality, generative art, and kinetic sculptures, making it a must-see event for art and technology enthusiasts alike.</p>
    <h3>Exhibition 3: Virtual Visions</h3>
    <p>Virtual Visions is an immersive exhibition that explores the possibilities of virtual reality in art. Featuring a collection of VR artworks created by leading artists in the field, Virtual Visions invites visitors to step into new worlds and experience art in a completely immersive way. From surreal landscapes to interactive narratives, this exhibition offers a unique opportunity to explore the creative potential of virtual reality and its impact on the art world.</p>  
    <footer>
        <p id="copyYear"></p>
    </footer>